
<div class="row">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">

                <h2 class="sub-header">Settings</h2>

                <form class="form-horizontal" ng-submit="save(settings)">
                    <div class="form-group">
                        <label for="api-url" class="control-label col-xs-2">API URL</label>

                        <div class="col-xs-10">
                            <input type="url" class="form-control" id="api-url" placeholder="API URL" ng-model="settings.api" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="token" class="control-label col-xs-2">Token</label>

                        <div class="col-xs-10">
                            <input type="password" class="form-control" id="token" placeholder="Token" ng-model="settings.token" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <button type="submit" class="btn btn-primary">save</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>

</div>
