
<div class="row">
    <div class="col-md-12">

        <h2 class="sub-header">Details

            <div class="btn-group pull-right">
                <a class="btn btn-default" target="_blank" href="{{order._links.capture.href}}">Capture</a>
                <a class="btn btn-default" ng-click="sync(order)">Sync</a>
                <a class="btn btn-default" ui-sref="app.orders">Cancel</a>
                <a class="btn btn-danger" ng-click="remove(order)">Delete</a>
            </div>

        </h2>

<pre>
{{order | json}}
</pre>

    </div>

</div>
