
<div class="row">
    <div class="col-md-12">

        <h2 class="sub-header">Orders
            <button type="button" class="btn btn-success pull-right" ui-sref="app.orders.new">Add new</button>
        </h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.order.number}}</td>
                    <td>{{order.order.totalAmount}}</td>
                    <td>{{order.order.currencyCode}}</td>
                    <td>
                        <div class="btn-group">

                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                    Links
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="(name, link) in order._links" >
                                        <a target="_blank" href="{{link}}">{{name}}</a>
                                    </li>
                                </ul>
                            </div>

                            <a class="btn btn-xs btn-default" ui-sref="app.orders.details({orderId: order.order.number})">Details</a>
                            <button ng-hide="1" class="btn btn-xs btn-danger">Delete</button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
