
<div class="row">
    <div class="col-md-12">

        <h2 class="sub-header">Orders
            <button type="button" class="btn btn-success pull-right" ui-sref="app.orders.new">Add new</button>
        </h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Payment</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.number}}</td>
                    <td>{{order.paymentName}}</td>
                    <td>{{order.description}}</td>
                    <td>{{order.totalAmount}}</td>
                    <td>{{order.currencyCode}}</td>
                    <td>{{order | orderStatus}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-xs btn-default" target="_blank" href="{{order._links.capture.href}}">Capture</a>
                            <a class="btn btn-xs btn-default" ng-click="sync(order)">Sync</a>
                            <a class="btn btn-xs btn-default" ui-sref="app.orders.details({orderId: order.id})">Details</a>
                            <a class="btn btn-xs btn-default" ui-sref="app.orders.edit({orderId: order.id})">Edit</a>
                            <a class="btn btn-xs btn-danger" ng-click="remove(order)">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
