
<div class="row">
    <div class="col-md-12">

        <h2 class="sub-header">Payments
            <button type="button" class="btn btn-success pull-right" ui-sref="app.payments.new">Add new</button>
        </h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Gateway</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Currency</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="payment in payments">
                    <td>{{payment.number}}</td>
                    <td>{{payment.gateway.gatewayName}}</td>
                    <td>{{payment.description}}</td>
                    <td>{{payment.totalAmount}}</td>
                    <td>{{payment.currencyCode}}</td>
                    <td>{{payment.status}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-xs btn-default" ui-sref="app.payments.authorize({paymentId: payment.id})">Authorize</a>
                            <a class="btn btn-xs btn-default" ui-sref="app.payments.capture({paymentId: payment.id})">Capture</a>
                            <a class="btn btn-xs btn-default" ng-click="sync(payment)">Sync</a>
                            <a class="btn btn-xs btn-default" ui-sref="app.payments.details({paymentId: payment.id})">Details</a>
                            <a class="btn btn-xs btn-default" ui-sref="app.payments.edit({paymentId: payment.id})">Edit</a>
                            <a class="btn btn-xs btn-danger" ng-click="remove(payment)">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
