<div class="form-group" ng-repeat="option in options">

    <label for="field-{{$index}}" class="control-label col-xs-2">{{option.label}}</label>

    <div class="col-xs-10">

        <input ng-if="option.type == 'text'"
               type="text"
               class="form-control"
               id="field-{{$index}}"
               placeholder="{{option.label}}"
               ng-value="option.default"
               ng-model="model[option.name]" ng-required="option.required">

        <input ng-if="option.type == 'password'"
               type="password"
               class="form-control"
               id="field-{{$index}}"
               placeholder="{{option.label}}"
               ng-required="option.required">


        <div ng-if="option.type == 'checkbox'" class="checkbox" >
            <label>
                <input type="checkbox"
                          ng-checked="option.default"
                          id="field-{{$index}}"
                          ng-model="model[option.name]"
                          ng-required="option.required"> &nbsp;
            </label>
        </div>


        <select ng-if="option.type == 'choice'" id="payments"
                class="form-control"

                id="field-{{$index}}"
                ng-model="model[option.name]"
                ng-required="option.required"

                ng-options="choice.value as choice.label for choice in option.choices">
            <option value=""></option>
        </select>

    </div>
</div>
